<html xmlns:th="https://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}">
	</div>
	
	<!--<div class="form-row align-items-center"> -->
		<div class="container-list">
		<!--<div th:object="${containers}" class="col-2 my-1"> -->

			<form method="POST" enctype="String" action="/">
				<table>
					<div th:object="${containers}" class="container-objects">
						<table>
							<tr>
								<td>
									<select>
										<option th:each="cont:${containers}" th:text=${cont} th:value="${cont}"></option>	   
									</select>
								</td>
								<td>
									<input type="submit" value="Select container" />
								</td>
							</tr>
						</table>
				</div>
				</table>
			</form>
	</div>
</body>
</html>