<html xmlns:th="https://www.thymeleaf.org">
	<link th:href = "@{/css/html.css}" rel="stylesheet">
<body>
	<div class ="upload-container">
		<h2>Choose a file to upload</h2>
		<form id = "image-uploader" method="POST" enctype="multipart/form-data" action="/index">
      <div id="file-selection">
        <label for="file-button" id="file-label"></label>
        <input id="file-button" type="file" name="file"/>
        <label for="upload-button" id="upload-label"></label>
        <input id="upload-button" type="submit" value="Upload" />


      </div>
		</form>
		<h2 th:text="|${container}:|"></h2>
    <ul id="bloblist">
      <li th:each="blob:${blobs}" th:text="${blob.getName()}" th:value="${blob.getName()}"></li>
    </ul>
	</div>
</body>
</html>
